.menu{
    background:linear-gradient(300deg,white 70%, #fedeff 30%);

    padding: 20px;
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-img{
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 50%;
}
.menu-card{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px gray;
}
.menu-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.menu-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.menu-info p, h2 {
    margin-top: 0;
}